#### Importing Dependencies

In [1]:
import pandas as pd
import numpy as np

##### Reading csv file from its path

In [2]:
file1 = "CPI_DATA/CPI_2005.csv"
file2 = "CPI_DATA/CPI_2010.csv"
file3 = "CPI_DATA/CPI_2015.csv"
file4 = "CPI_DATA/CPI_2017.csv"

In [3]:
cpi_df = pd.read_csv(file1)

cpi_df = cpi_df[["iso", "score"]]
cpi_df.rename(columns = {"score": "Score 2005"}, inplace = True)

In [4]:
cpi_df2 = pd.read_csv(file2)

cpi_df2 = cpi_df2[["iso", "score"]]
cpi_df2.rename(columns = {"score": "Score 2010"}, inplace = True)

In [5]:
cpi_df3 = pd.read_csv(file3)

cpi_df3 = cpi_df3[["Country Code", "CPI 2015 Score"]]
cpi_df3.rename(columns = {"Country Code": "iso",
                          "CPI 2015 Score": "Score 2015"}, inplace = True)

In [6]:
cpi_df4= pd.read_csv(file4)
cpi_df4 = cpi_df4.iloc[2:]
cpi_df4 = cpi_df4[["Unnamed: 1", "Unnamed: 3"]]
cpi_df4.rename(columns = {"Unnamed: 1": "iso", 
                          "Unnamed: 3": "Score 2017"}, inplace = True)

cpi_df4 = cpi_df4.reset_index(drop=True)

In [7]:
merge1 = pd.merge(cpi_df, cpi_df2, how = "inner", on = "iso")
merge2 = pd.merge(merge1, cpi_df3, how = "inner", on = "iso")
merge3 = pd.merge(merge2, cpi_df4, how = "inner", on = "iso")

merge3

     iso  Score 2005  Score 2010  Score 2015 Score 2017
0    ISL         9.7         8.5          79         77
1    FIN         9.6         9.2          90         85
2    NZL         9.6         9.3          91         89
3    DNK         9.5         9.3          91         88
4    SGP         9.4         9.3          85         84
..   ...         ...         ...         ...        ...
145  HTI         1.8         2.2          17         22
146  MMR         1.8         1.4          22         30
147  TKM         1.8         1.6          18         19
148  BGD         1.7         2.4          25         28
149  TCD         1.7         1.7          22         20

[150 rows x 5 columns]

In [8]:
merge3["Score 2005"] = merge3["Score 2005"].astype(float)
merge3["Score 2017"] = merge3["Score 2017"].astype(float)

merge3.dtypes

iso            object
Score 2005    float64
Score 2010    float64
Score 2015      int64
Score 2017    float64
dtype: object

In [9]:
merge3["Score 2015"] = merge3["Score 2015"] / 10
merge3["Score 2017"] = merge3["Score 2017"] / 10

merge3

     iso  Score 2005  Score 2010  Score 2015  Score 2017
0    ISL         9.7         8.5         7.9         7.7
1    FIN         9.6         9.2         9.0         8.5
2    NZL         9.6         9.3         9.1         8.9
3    DNK         9.5         9.3         9.1         8.8
4    SGP         9.4         9.3         8.5         8.4
..   ...         ...         ...         ...         ...
145  HTI         1.8         2.2         1.7         2.2
146  MMR         1.8         1.4         2.2         3.0
147  TKM         1.8         1.6         1.8         1.9
148  BGD         1.7         2.4         2.5         2.8
149  TCD         1.7         1.7         2.2         2.0

[150 rows x 5 columns]

In [10]:
merge3.to_csv('CPI_DATA/CPI_final_data.csv')