#### Import dependencies
##### In this case, we will use PANDAS to store and transoform the data, and Numpy to replace ".." values from the original database to NaN.
---

In [1]:
import pandas as pd
import numpy as np

##### Define filepath to pd.read_csv command
---

In [2]:
file = "gdp_DATA/gdp_data_constant_usd_1990-2019.csv"
gdp_df = pd.read_csv(file)

##### Show the first 10 database rows
---

In [3]:
gdp_df.head()

,Time,Time Code,Country Name,Country Code,GDP (constant 2010 US$) [NY.GDP.MKTP.KD]
0,1990,YR1990,Afghanistan,AFG,..
1,1990,YR1990,Albania,ALB,6042857912.55639
2,1990,YR1990,Algeria,DZA,92018411723.8035
3,1990,YR1990,American Samoa,ASM,..
4,1990,YR1990,Andorra,AND,1930181002.39944

##### Show Columns. It will help to rename them to a desired name
---

In [4]:
gdp_df.columns

Index(['Time', 'Time Code', 'Country Name', 'Country Code',
       'GDP (constant 2010 US$) [NY.GDP.MKTP.KD]'],
      dtype='object')

##### Rename Column(s)
---

In [5]:
gdp_df.rename(columns = {
    'Time' : "Year",
    'GDP (constant 2010 US$) [NY.GDP.MKTP.KD]' : 'GDP USD'
}, inplace = True)

##### Drop Column(s)
---

In [6]:
gdp_df.drop(columns=['Time Code'], inplace = True)

##### Drop NaN Values (last 5 rows of the database)
---

In [7]:
gdp_df.dropna(inplace=True)

##### Iterate among rows to replace ".." values to NaN values
---

In [10]:
for index, row in gdp_df.iterrows():
    if row["GDP USD"] == "..":
        row["GDP USD"] = np.nan
    else:
        row["GDP USD"]

##### Convert data types and show dtypes
---

In [11]:
gdp_df["GDP USD"] = gdp_df["GDP USD"].astype(float)
gdp_df["Year"] = gdp_df["Year"].astype(float)
gdp_df.dtypes

Year            float64
Country Name     object
Country Code     object
GDP USD         float64
dtype: object

##### Write a CSV file with the transformed data
---

In [14]:
gdp_df.to_csv('gdp_DATA/transformed_data_gdp.csv')